$accentcolor: #F16D7F;

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.wrapper {
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
    }

.content { flex-grow: 1;
}

.menu {
    background-color: #222222;
    padding: 19px 0;
}

.menu__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__logo {
    margin-right: 41px;
    text-decoration: none;
}

.menu__link:not(:last-child) {
    margin-right: 33px;
}

.text__red {
    color: $accentcolor;
}

// .catalog {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin-bottom: 95px;
// }

// .catalog__heading {
//     text-align: center;
//     margin-bottom: 6px;
//     font-size: 30px;
//     line-height: 36px;
//     color: #222222;
//     font-weight: 400;
// }

// .catalog__introtext {
//     text-align: center;
//     margin-bottom: 48px;
//     font-size: 14px;
//     line-height: 17px;
//     color: #9F9F9F;
//     font-weight: 400;
// }

// .catalog__list {
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: wrap;
//     margin-bottom: 48px;
//     width: 100%;
// }

// .catalog__card {
//     width: 360px;
//     height: 580px;
//     box-sizing: border-box;
//     background-color: #F8F8F8;
//     position: relative;
//   transition: 0.5s;
//   overflow: hidden;
// }

// .catalog__card:hover {
//     box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
// }

// .card__overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     height: 420px;
//     background-color: rgba(58, 56, 56, 0.83);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     opacity: 0;
//     transition: 0.5s;
// }

// .card__button {
//     width: 138px;
//     font-size: 14px;
//     line-height: 17px;
//     color: #FFFFFF;
//     font-weight: 400;
//     padding: 11px 16px 10px 13px;
//     border: 1px solid #FFFFFF;
//     background-color: transparent;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }
  
// .catalog__card:hover .card__overlay {
//     opacity: 1;
// }
  
// .catalog__card:nth-child(1) {
//     margin-bottom: 30px;
// }

// .catalog__card:nth-child(7) {
//     margin-top: 30px;
// }

// .catalog__card:nth-child(8) {
//     margin-top: 30px;
// }

// .catalog__card:nth-child(9) {
//     margin-top: 30px;
// }

// .catalog__cardinfo {
//     display: flex;
//     flex-direction: column;
//     padding: 25px 18px 20px;
// }

// .catalog__product {
//     font-size: 13px;
//     line-height: 16px;
//     color: #000000;
//     font-weight: 400;
//     margin-bottom: 12px;
// }

// .catalog__itemlink {
//     text-decoration: none;
// }


// .catalog__description {
//     font-weight: 300;
//     font-size: 14px;
//     line-height: 17px;
//     color: #5D5D5D;
//     margin-bottom: 18px;
// }

// .catalog__itemprice {
//     font-size: 16px;
//     line-height: 19px;
//     color: $accentcolor;
//     font-weight: 400;
// }

// .catalog__link {
//     text-align: center;
//     display: inline-block;
//     text-decoration: none;
//     font-size: 16px;
//     line-height: 19px;
//     font-weight: 400;
//     border: 1px solid $accentcolor;
//     padding: 14px 28px;
// }

// a.catalog__link:visited, a.catalog__link:link {
//     color: $accentcolor;
//     background-color: #fff;
// }

// a.catalog__link:hover, a.catalog__link:active {
//     color: #ffffff;
//     background-color: $accentcolor;
// }

.lead {
    height: 448px;
    background-image: url('../img/footer_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.lead__transparent {
    width: 100%;
    height: 100%;
    background: rgba(244, 244, 244, 0.7);
}

.lead__info {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lead__review {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lead__customer {
    border-radius: 50%;
    margin-bottom: 30px;
}

.lead__cite {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #222224;
    font-weight: 400;
}

.italic {
    font-style: italic;
}


.lead__subscription {
    width: 557px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lead__cta {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: #222224;
    font-weight: 400;
    margin-bottom: 32px;
}

.lead__bold {
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
}

.lead__form {
    max-width: 356px;
    display: flex;
    font-size: 14px;
    line-height: 17px;
}

.lead__email {
    color: #222224;
    opacity: 0.67;
    padding: 14px 22px;
    width: 208px;
    border: none;
    background-color: #E1E1E1;
    border-radius: 50px 0 0 50px;
}

.lead__button {
    cursor: pointer;
    color: #ffffff;
    padding: 14px 19px;
    border: none;
    background-color: $accentcolor;
    border-radius: 0 50px 50px 0;
}

.footer {
    background-color: #222224;
    padding: 22px 0;
}

.footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    font-weight: 400;
}

.footer__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__sm {
    color: black;
    background-color: white;
    text-decoration: none;
    font-size: 16px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__sm:not(:last-child) {
margin-right: 7px;
}

.footer__sm:hover, .footer__sm:active {
    background-color: $accentcolor;
    color: white;
}

.slider {
	background-color: #F7F7F7;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    height: 777px;
}	

// product page

.grey {
    border-top: 0 solid #eaeaea;
    margin: 65px auto;
}

.pinkline {
    width: 63px;
    margin: 12px auto;
    border: 3px solid $accentcolor;
}

.product__collection {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $accentcolor;  
    text-transform: uppercase;
}

.product__brand {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.product__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5E5E5E;
    margin-bottom: 32px;
}

.product__price {  
    font-weight: 300; 
    font-size: 24px;
    line-height: 29px;
    color: $accentcolor;
}

.product__button {
    margin-top: 48px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    border: 1px solid $accentcolor;
    padding: 14px 23px;
    background-color: transparent;
    color: $accentcolor;
    fill: $accentcolor;
}

.product__button--img {
    margin-right: 23px;
}

// cart

.carthead {
    background-color: #F8F3F4;
    height: 148px;
    margin-bottom: 96px;
    }
    
.carthead__flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
    
.carthead__active {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $accentcolor;
}

.cart {
    margin-bottom: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shoppinglist {
    display: flex;
    flex-direction: column;
    width: 652px;

    &__card {
        display: flex;
        flex-direction: row;
        box-shadow: 25px 25px 25px rgba(70, 2, 2, 0.1);
    }  
    
    &__card:not(:last-child) {
        margin-bottom: 40px;
    }

    &__image {
        display: block;
        max-width:262px;
        max-height:306px;
        width: auto;
        height: auto;
    }

    &__info {
        padding: 22px 31px;
        position: relative;
        width: 390px;
    }

    &__cross {
        position: absolute;
        text-align: right;
        right: 28px;
        border: none;
        background-color: transparent;
    }

    &__name {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #222222;
        margin-bottom: 42px;
        max-width: 262px;
    }

    &__detail {
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #575757;
        margin-bottom: 6px;
    }

    &__quantity {
        display: flex;
        flex-direction: row;
    }

    &__number {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #575757;
        padding: 2px 16px;
        border: 1px solid #EAEAEA;
        margin-left: 25px;
    }
}

.checkout {
    display: flex;
    flex-direction: column;

    &--block {
        width: 360px;
    }
}

.address {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    margin-bottom: 57px;

    & form {
        display: flex;
        flex-direction: column;
    }

    &__heading {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        margin-bottom: 20px;
    }

    &__field {
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 17px;
        border: 1px solid #A4A4A4;
    }

    &__field:focus::-webkit-input-placeholder {
        color: #B1B1B1;
    }
    
    &__button {
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
        height: 34px;
        width: 100px;
        border: 1px solid #A4A4A4;
        background-color: transparent;
    }
}

.calc {
    height: 214px;
    background-color: #F5F3F3;
    padding: 39px 42px 42px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &__sub {
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
        margin-bottom: 12px;
        display: flex;
        flex-direction: row;
        align-self: flex-end;
    
        & p {
            display: inline-block;
        }

        &--price {
            margin-left: 26px;
        }
    }

    &__grand {
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        margin-bottom: 21px;
        display: flex;
        flex-direction: row;
        align-self: flex-end;

        & h3 {
            display: inline-block;
        }

        &--text {
            font-weight: 300;
        }

        &--price {
            color: $accentcolor;
            font-weight: 700;
            margin-left: 26px;
        }
    }

    &__line {
        border: 1px solid #E2E2E2;
        margin-bottom: 17px;
    }

    &__button {
        border: none;
        background-color: $accentcolor;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        padding: 15px 41px;
    }
}

.refuse {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 128px;

    &__flex {
        width: 652px;
        display: flex;
        justify-content: space-between;
    }

    &__button {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        padding: 16px 39px;
        background-color: transparent;
        border: 1px solid #A4A4A4;
    }
}

.registration {
    display: flex;
    justify-content: space-between;
}

.account {
    width: 360px;
    display: flex;
    flex-direction: column;
    margin-top: -32px;
    margin-bottom: 96px;
    

    &__heading {
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
    }

    & fieldset {
        border: 0;

        &:first-child {
            margin-bottom: 33px;
        }
    }

    &__input {
        width: 100%;
        border: 1px solid #A4A4A4;
        padding: 12px 17px 15px;
        margin-bottom: 21px;
        box-sizing: border-box;

        &::-webkit-input-placeholder {
            color: #B1B1B1;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
        }
    }

    & label {
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #000000;

        & > input {
            vertical-align: middle;
            margin-right: 10px;
        } 
    }

    &__gender {
        margin-top: 12px;
    }

    &__text {
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
        margin-bottom: 39px;
    }

    &__button {
        width: 167px;
        height: 50px;
        background-color: $accentcolor;
        color: #ffffff;
        font-size: 14px;
        line-height: 17px;
        border: none;
        padding: 16px 29px;
        transition: 1s;

        &:hover {
            transform: scale(1.5) rotate(360deg);
        }
    }

}

.loyalty {
    max-width: 652px;
    display: flex;
    flex-direction: column;
    margin-top: -32px;

    &__heading {
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 32px;
    }

    &__text {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    }

    & > ul {
        list-style: none;
        margin-top: 22px;

        & li {
            margin-bottom: 16px;
            vertical-align: center;

            &:before {
                content: url(../img/loyalty_check.svg);
                margin-right: 23px;
            }
        }

        
    }
    
        
}