* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header {
  background-color: #222222;
  padding: 19px 0;
  position: relative;
  z-index: 3;
}

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 41px;
  text-decoration: none;
}

.header__link {
  text-decoration: none;
}

.header__link:hover .header__link__search:hover {
  opacity: 0.7;
}

.header__link:not(:last-child) {
  margin-right: 33px;
}

.header__search:hover {
  opacity: 0.7;
}

.header__menu {
  fill: #E8E8E8;
}

.header__nav {
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 10;
}

.header > a {
  text-decoration: none;
}

.nav {
  width: 232px;
  background-color: #ffffff;
  height: calc(100vh - 80px);
  padding: 37px 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
}

.nav__wrap {
  position: relative;
}

.nav__close {
  position: absolute;
  top: -21px;
  right: -18px;
  fill: #6F6E6E;
}

.nav__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 24px;
}

.nav__heading {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}

.nav__list {
  list-style-type: none;
  margin-bottom: 20px;
  padding-left: 20px;
}

.nav__item:not(:last-child) {
  margin-bottom: 11px;
}

.nav__link {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.nav__link:hover {
  color: #000000;
}

#burger {
  display: none;
}

#burger:checked ~ .header__nav {
  display: block;
}

#burger:not(:checked) ~ .header__nav {
  display: none;
}

.intro {
  background-color: #F1E4E6;
  height: calc(100vh - 80px);
  margin-bottom: 65px;
}

.intro__flex {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/man.png");
  background-repeat: no-repeat;
  background-position: -218px bottom;
  background-size: contain;
}

.intro__heading {
  max-width: 400px;
  text-transform: uppercase;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-left: 56%;
  margin-right: 5%;
}

.intro__heading h1 {
  font-size: 32px;
}

.intro__bold {
  font-size: 48px;
}

.text__red {
  color: #F16D7F;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 96px;
}

.category__item {
  width: 100%;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-blend-mode: multiply;
  background-color: rgba(33, 22, 22, 0.7);
  background-position: top center;
  background-repeat: no-repeat;
}

.category__item:not(:last-child) {
  width: 31.5%;
  height: 260px;
  margin-bottom: 30px;
}

.category__item:first-child {
  background-image: url("../img/cat_w.png");
}

.category__item:nth-child(2) {
  background-image: url("../img/cat_m.png");
}

.category__item:nth-child(3) {
  background-image: url("../img/cat_k.png");
}

.category__item:last-child {
  background-image: url("../img/cat_a.png");
}

.category__text {
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.category__white {
  font-size: 16px;
  font-weight: 400;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 95px;
}

.catalog__heading {
  text-align: center;
  margin-bottom: 6px;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  font-weight: 400;
}

.catalog__introtext {
  text-align: center;
  margin-bottom: 48px;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  font-weight: 400;
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 18px;
  width: 100%;
}

.catalog__card {
  width: 360px;
  min-height: 580px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F8F8F8;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  margin-bottom: 30px;
  margin-right: 30px;
}

.catalog__card:nth-child(3n+3) {
  margin-right: 0;
}

.catalog__card:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.catalog__card:hover {
  opacity: 1;
}

.catalog__cardinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 18px 20px;
}

.catalog__product {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 12px;
}

.catalog__itemlink {
  text-decoration: none;
}

.catalog__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.catalog__itemprice {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  font-weight: 400;
}

.catalog__link {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  border: 1px solid #F16D7F;
  padding: 14px 28px;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.83);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card__overlay:hover {
  opacity: 1;
}

.card__button {
  width: 138px;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  font-weight: 400;
  padding: 11px 16px 10px 13px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a.catalog__link:visited, a.catalog__link:link {
  color: #F16D7F;
  background-color: #fff;
}

a.catalog__link:hover, a.catalog__link:active {
  color: #ffffff;
  background-color: #F16D7F;
}

.advantage {
  height: 341px;
  background-color: #222224;
}

.advantage__flex {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage__card {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage__icon--1 {
  margin-bottom: 28px;
}

.advantage__icon--2 {
  margin-bottom: 19px;
}

.advantage__icon--3 {
  margin-bottom: 25px;
}

.advantage__heading {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  font-weight: 400;
}

.advantage__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.lead {
  height: 448px;
  background-image: url("../img/footer_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lead__transparent {
  width: 100%;
  height: 100%;
  background: rgba(244, 244, 244, 0.7);
}

.lead__info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lead__review {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lead__customer {
  border-radius: 50%;
  margin-bottom: 30px;
}

.lead__cite {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #222224;
  font-weight: 400;
}

.lead__subscription {
  width: 557px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lead__cta {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: #222224;
  font-weight: 400;
  margin-bottom: 32px;
}

.lead__bold {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
}

.lead__form {
  max-width: 356px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 17px;
}

.lead__email {
  color: #222224;
  opacity: 0.67;
  padding: 14px 22px;
  width: 208px;
  border: none;
  background-color: #E1E1E1;
  border-radius: 50px 0 0 50px;
}

.lead__button {
  cursor: pointer;
  color: #ffffff;
  padding: 14px 19px;
  border: none;
  background-color: #F16D7F;
  border-radius: 0 50px 50px 0;
}

.lead__button:hover {
  opacity: 0.8;
}

.italic {
  font-style: italic;
}

.footer {
  background-color: #222224;
  padding: 22px 0;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  font-weight: 400;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__sm {
  color: black;
  background-color: white;
  text-decoration: none;
  font-size: 16px;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__sm:not(:last-child) {
  margin-right: 7px;
}

.footer__sm:hover {
  background-color: #F16D7F;
  color: white;
}

/* Catalog page */
.catmenu {
  background-color: #F8F3F4;
  height: 148px;
}

.catmenu__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.catmenu__active {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.catmenu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 209px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catmenu__category {
  text-transform: uppercase;
  text-decoration: none;
}

.catmenu__slash {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.catmenu__category:link, .catmenu__category:visited {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.catmenu__category:active, .catmenu__category:hover {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.catalog__filters {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 39px 0 56px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger-filter {
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  outline: none;
  z-index: 1;
  background-color: #ffffff;
}

.burger-filter[open] {
  padding-left: 10px;
  -webkit-box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.21);
}

.burger-filter[open] > summary {
  color: #EF5B70;
  fill: #EF5B70;
  outline: none;
  border: none;
  padding-left: 0;
}

.burger__open {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  fill: #000000;
  padding: 10px;
  list-style: none;
  border: none;
  text-transform: uppercase;
}

.burger__open:before {
  content: 'filter';
}

.filter-category {
  text-transform: uppercase;
}

.filter-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: capitalize;
}

.burger__categories {
  position: absolute;
  width: 360px;
  left: 0;
  -webkit-box-shadow: 0px 23px 25px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 23px 25px rgba(0, 0, 0, 0.21);
  background-color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter-title {
  margin: 10px;
}

::-webkit-details-marker {
  display: none;
}

.filter-title summary {
  display: block;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  padding: 10px;
}

.filter-title[open] > summary {
  color: #EF5B70;
}

.catalog__filter {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  font-weight: 400;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-left: 30px;
}

.filter-list {
  padding: 24px 17px 14px;
  list-style-type: none;
}

.filter-item {
  padding-bottom: 11px;
}

.filter-item:last-child {
  padding-bottom: 0;
}

.catalog__dropdown {
  position: relative;
  z-index: 1;
}

.catalog__dropdown:not(:last-child) {
  margin-right: 28px;
}

.dropdown__choice {
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 10px 10px 0;
  min-width: 79px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dropdown__choice input {
  margin-bottom: 10px;
}

.dropdown__choice input:last-child {
  margin-bottom: 0;
}

.dropdown-summary {
  list-style: none;
}

.catalog__dropdown--icon {
  margin-left: 10px;
}

.pagination {
  padding: 15px 15px 12px;
  border: 1px solid #EBEBEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__nav {
  text-decoration: none;
}

.pagination__page {
  text-decoration: none;
  margin: 0 15px 0 0;
  text-align: center;
}

.pagination__page:nth-child(7) {
  margin: 0;
}

.pagination__page:nth-child(8) {
  margin: 0;
}

.pagination__nav:first-child {
  margin: 0 15px 0 0;
}

.pagination__page:link, .pagination__page:visited {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #d3d3d3;
}

.pagination__page:hover, .pagination__page:active {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #EF5B70;
}

.catalog__list--small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3px;
  width: 100%;
}

.slider {
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 777px;
}

.slider__button {
  background: rgba(42, 42, 42, 0.15);
  fill: #000000;
  padding: 13px 17px;
  position: absolute;
  border: none;
}

.slider__button:hover {
  fill: #F16D7F;
}

.slider__button--left {
  left: 1px;
}

.slider__button--right {
  right: 1px;
}

.about {
  max-width: 1140px;
  margin: -65px auto 129px;
  border: 1px solid #EAEAEA;
  padding: 65px 0;
  background-color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__content {
  max-width: 640px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 24px;
}

.about__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  font-weight: 400;
}

.grey {
  border-top: 0 solid #eaeaea;
  margin: 65px auto;
}

.pinkline {
  width: 63px;
  margin: 12px auto;
  border: 3px solid #F16D7F;
}

.product__collection {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}

.product__brand {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.product__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  margin-bottom: 32px;
}

.product__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.product__button {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  border: 1px solid #F16D7F;
  padding: 14px 23px;
  background-color: transparent;
  color: #F16D7F;
  fill: #F16D7F;
}

.product__button:hover {
  background-color: #ff6a6a;
  color: #ffffff;
  fill: #ffffff;
}

.product__button--img {
  margin-right: 23px;
}

.carthead {
  background-color: #F8F3F4;
  height: 148px;
  margin-bottom: 96px;
}

.carthead__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.carthead__active {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.cart {
  margin-bottom: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shoppinglist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 652px;
}

.shoppinglist__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 25px 25px 25px rgba(70, 2, 2, 0.1);
          box-shadow: 25px 25px 25px rgba(70, 2, 2, 0.1);
}

.shoppinglist__card:not(:last-child) {
  margin-bottom: 40px;
}

.shoppinglist__image {
  display: block;
  max-width: 262px;
  max-height: 306px;
  width: auto;
  height: auto;
}

.shoppinglist__info {
  padding: 22px 31px;
  position: relative;
  width: 100%;
}

.shoppinglist__cross {
  position: absolute;
  text-align: right;
  right: 28px;
  border: none;
  background-color: transparent;
}

.shoppinglist__name {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
  max-width: 262px;
}

.shoppinglist__detail {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-bottom: 6px;
}

.shoppinglist__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.shoppinglist__number {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #575757;
  padding: 2px 16px;
  border: 1px solid #EAEAEA;
  margin-left: 25px;
}

.checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkout--block {
  width: 360px;
}

.address {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 57px;
}

.address form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.address__heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.address__field {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 17px;
  border: 1px solid #A4A4A4;
}

.address__field:focus::-webkit-input-placeholder {
  color: #B1B1B1;
}

.address__button {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  height: 34px;
  width: 100px;
  border: 1px solid #A4A4A4;
  background-color: transparent;
}

.address__button:hover {
  background-color: #F16D7F;
  border: #F16D7F;
  color: #ffffff;
}

.calc {
  height: 214px;
  background-color: #F5F3F3;
  padding: 39px 42px 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calc__sub {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.calc__sub p {
  display: inline-block;
}

.calc__sub--price {
  margin-left: 26px;
}

.calc__grand {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.calc__grand h3 {
  display: inline-block;
}

.calc__grand--text {
  font-weight: 300;
}

.calc__grand--price {
  color: #F16D7F;
  font-weight: 700;
  margin-left: 26px;
}

.calc__line {
  border: 1px solid #E2E2E2;
  margin-bottom: 17px;
}

.calc__button {
  border: none;
  background-color: #F16D7F;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 15px 41px;
}

.calc__button:hover {
  opacity: 0.8;
}

.refuse__flex {
  margin-top: 32px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.refuse__button {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 16px 39px;
  background-color: transparent;
  border: 1px solid #A4A4A4;
}

.refuse__button:hover {
  background-color: #F16D7F;
  border: #F16D7F;
  color: #ffffff;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -32px;
  margin-bottom: 96px;
}

.account {
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.account__heading {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.account fieldset {
  border: 0;
}

.account fieldset:first-child {
  margin-bottom: 33px;
}

.account__input {
  width: 100%;
  border: 1px solid #A4A4A4;
  padding: 12px 17px 15px;
  margin-bottom: 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.account__input::-webkit-input-placeholder {
  color: #B1B1B1;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.account label {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.account label > input {
  vertical-align: middle;
  margin-right: 10px;
}

.account__gender {
  margin-top: 12px;
}

.account__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-bottom: 39px;
}

.account__button {
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  border: none;
  padding: 16px 29px;
}

.account__button:hover {
  opacity: 0.8;
}

.loyalty {
  max-width: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loyalty__heading {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 32px;
}

.loyalty__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.loyalty > ul {
  list-style: none;
  margin-top: 22px;
}

.loyalty > ul li {
  margin-bottom: 16px;
  vertical-align: center;
}

.loyalty > ul li:before {
  content: url(../img/loyalty_check.svg);
  margin-right: 23px;
}

@media (max-width: 1140px) {
  .nav {
    height: 368px;
  }
  .intro {
    height: 368px;
    margin-bottom: 20px;
  }
  .intro__flex {
    background-position: left bottom;
  }
  .intro__heading {
    margin-right: 5%;
  }
  .intro__heading h1 {
    font-size: 24px;
  }
  .intro__bold {
    font-size: 44px;
  }
  .category {
    margin-bottom: 154px;
  }
  .category__item {
    height: 116px;
    background-size: cover;
  }
  .category__item:not(:last-child) {
    height: 167px;
    margin-bottom: 20px;
  }
  .catalog__heading {
    margin-bottom: 3px;
  }
  .catalog__introtext {
    margin-bottom: 72px;
  }
  .catalog__list, .catalog__list--small {
    width: 735px;
  }
  .catalog__card {
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .catalog__card:nth-child(3n+3) {
    margin-right: 15px;
  }
  .catalog__card:nth-child(2n+2) {
    margin-right: 0;
  }
  .advantage {
    min-height: 610px;
    padding: 48px 0 64px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .advantage__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lead {
    height: 614px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-position: 30% 0;
  }
  .lead__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 64px 0 140px;
  }
  .lead__review {
    margin-bottom: 48px;
  }
  .catalog__filter {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-left: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .burger-filter {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .pagination {
    margin-bottom: -32px;
  }
  .slider {
    height: 624px;
  }
  .slider__image {
    height: 565px;
  }
  .about {
    margin-top: 0;
  }
  .registration {
    margin-left: 16px;
    margin-right: 16px;
  }
  .account {
    max-width: 48%;
  }
  .loyalty {
    max-width: 48%;
  }
  .loyalty__heading {
    font-size: 16px;
  }
  .loyalty__text {
    font-size: 16px;
  }
  .carthead {
    margin-bottom: 59px;
  }
  .cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shoppinglist {
    margin-bottom: 64px;
    width: 98%;
  }
  .refuse__flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .refuse__button:first-child {
    margin-right: 49px;
  }
  .address {
    margin-right: 15px;
    margin-bottom: 0;
  }
  .calc {
    margin-top: 39px;
  }
  .checkout {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 750px) {
  .header__link--hide {
    display: none;
  }
  .nav {
    height: calc(100vh - 80px);
    width: 100vw;
  }
  .intro {
    height: 363px;
    margin-bottom: 64px;
  }
  .intro__flex {
    background-image: none;
  }
  .intro__heading {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: auto auto;
  }
  .intro__heading h1 {
    font-size: 20px;
  }
  .intro__bold {
    font-size: 38px;
  }
  .category {
    margin-bottom: 64px;
  }
  .category__item {
    height: 111px;
    background-size: cover;
  }
  .category__item:not(:last-child) {
    height: 247px;
    width: 100%;
    margin-bottom: 32px;
  }
  .catalog {
    margin-bottom: 50px;
  }
  .catalog__introtext {
    margin-bottom: 64px;
  }
  .catalog__list, .catalog__list--small {
    width: 360px;
    margin-bottom: 2px;
  }
  .catalog__card {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .catalog__card:nth-child(3n+3) {
    margin-right: 0;
  }
  .catalog__card:nth-child(2n+2) {
    margin-right: 0;
  }
  .lead {
    height: 550px;
  }
  .lead__info {
    padding-bottom: 110px;
  }
  .lead__cite {
    font-size: 18px;
  }
  .lead__cta {
    font-size: 14px;
  }
  .footer__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__right {
    margin-bottom: 40px;
  }
  .catmenu {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 24px 0 46px;
  }
  .catmenu__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .burger__open svg {
    width: auto;
    height: 25px;
  }
  .burger__open:before {
    content: none;
  }
  .catalog__filter {
    font-size: 12px;
  }
  .dropdown-summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .slider__image {
    height: 454px;
  }
  .about__filters {
    font-size: 10px;
  }
  .registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }
  .account {
    margin-bottom: 40px;
    max-width: 96%;
  }
  .loyalty {
    max-width: 96%;
  }
  .carthead {
    margin-bottom: 39px;
  }
  .carthead__flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .shoppinglist__card:not(:last-child) {
    margin-bottom: 32px;
  }
  .shoppinglist__image {
    max-width: 144px;
    max-height: 188px;
  }
  .shoppinglist__info {
    padding: 13px 17px;
  }
  .shoppinglist__cross {
    right: 17px;
  }
  .shoppinglist__cross img {
    width: auto;
    height: 10px;
  }
  .shoppinglist__name {
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 19px;
  }
  .shoppinglist__detail, .shoppinglist__quantity .shoppinglist__number {
    font-size: 14px;
    line-height: 16px;
  }
  .shoppinglist__detail {
    margin-bottom: 3px;
  }
  .refuse__flex {
    margin-top: -2px;
  }
  .refuse__button {
    font-size: 12px;
    line-height: 14px;
    padding: 9px 19px;
  }
  .checkout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=stylenew.css.map */