* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.wrapper {
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
    }

.content { flex-grow: 1;
}

.menu {
    background-color: #222222;
    padding: 19px 0;
}

.menu__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__logo {
    margin-right: 41px;
    text-decoration: none;
}

.menu__link:not(:last-child) {
    margin-right: 33px;
}

.intro {
    background-color: #F1E4E6;
    height: 764px;
    margin-bottom: 65px;
}

.intro__flex {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url('../img/man.png');
    background-repeat: no-repeat;
    background-position: -218px bottom;
}

.intro__heading {
    max-width: 377px;
    text-transform: uppercase;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    font-size: 14px;
    margin-right: 104px;
}

.intro__bold {
    font-size: 48px;
}

.text__red {
    color: #F16D7F;
}

.category {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 96px;
}

.category__item {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: multiply;
    background-color: rgba(33, 22, 22, 0.7);
}

.category__item:not(:last-child) {
    width: 360px;
    height: 260px;
    margin-bottom: 30px;
}

.category__item:first-child {
    background-image: url('../img/cat_w.png');
}

.category__item:nth-child(2) {
    background-image: url('../img/cat_m.png');
}

.category__item:nth-child(3) {
    background-image: url('../img/cat_k.png');
}

.category__item:last-child {
    background-image: url('../img/cat_a.png');
}

.category__text {
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.category__white {
    font-size: 16px;
    font-weight: 400;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 95px;
}

.catalog__heading {
    text-align: center;
    margin-bottom: 6px;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    font-weight: 400;
}

.catalog__introtext {
    text-align: center;
    margin-bottom: 48px;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    font-weight: 400;
}

.catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.catalog__card {
    width: 360px;
    height: 580px;
    box-sizing: border-box;
    background-color: #F8F8F8;
}

.catalog__card:nth-child(1) {
    margin-bottom: 30px;
}

.catalog__card:nth-child(7) {
    margin-top: 30px;
}

.catalog__card:nth-child(8) {
    margin-top: 30px;
}

.catalog__card:nth-child(9) {
    margin-top: 30px;
}

.catalog__cardinfo {
    display: flex;
    flex-direction: column;
    padding: 25px 18px 20px;
}

.catalog__product {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 12px;
}

.catalog__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px;
}

.catalog__itemprice {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    font-weight: 400;
}

.catalog__link {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    border: 1px solid #FF6A6A;
    padding: 14px 28px;
}

a.catalog__link:visited, a.catalog__link:link {
    color: #F26376;
    background-color: #fff;
}

a.catalog__link:hover, a.catalog__link:active {
    color: #ffffff;
    background-color: #F26376;
}

.advantage {
    height: 341px;
    background-color: #222224;   
}

.advantage__flex {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advantage__card {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advantage__icon {
    margin-bottom: 28px;
}

.advantage__heading {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    font-weight: 400;
}

.advantage__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.lead {
    height: 448px;
    background-image: url('../img/footer_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.lead__transparent {
    width: 100%;
    height: 100%;
    background: rgba(244, 244, 244, 0.7);
}

.lead__info {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lead__review {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lead__customer {
    border-radius: 50%;
    margin-bottom: 30px;
}

.lead__cite {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #222224;
    font-weight: 400;
}

.italic {
    font-style: italic;
}


.lead__subscription {
    width: 557px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lead__cta {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: #222224;
    font-weight: 400;
    margin-bottom: 32px;
}

.lead__bold {
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
}

.lead__form {
    max-width: 356px;
    display: flex;
    font-size: 14px;
    line-height: 17px;
}

.lead__email {
    color: #222224;
    opacity: 0.67;
    padding: 14px 22px;
    width: 208px;
    border: none;
    background-color: #E1E1E1;
    border-radius: 50px 0 0 50px;
}

.lead__button {
    cursor: pointer;
    color: #ffffff;
    padding: 14px 19px;
    border: none;
    background-color: #F16D7F;
    border-radius: 0 50px 50px 0;
}

.footer {
    background-color: #222224;
    padding: 22px 0;
}

.footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    font-weight: 400;
}

.footer__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__sm {
    color: black;
    background-color: white;
    text-decoration: none;
    font-size: 16px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__sm:not(:last-child) {
margin-right: 7px;
}

.footer__sm:hover, .footer__sm:active {
    background-color: #F16D7F;
    color: white;
}

/* Catalog page */
.catmenu {
background-color: #F8F3F4;
height: 148px;
}

.catmenu__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.catmenu__active {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.catmenu__right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.catmenu__category {
    text-transform: uppercase;
    text-decoration: none;
}

.catmenu__category:not(:last-child) {
    margin-right: 5px;
}

.catmenu__category:link, .catmenu__category:visited {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.catmenu__category:active, .catmenu__category:hover {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.catalog__filters {
    width: 100%;
    display: flex;
    padding: 51px 0 65px;
    align-items: center;
    justify-content: space-between;
}

.catalog__burger {
    flex: 1;
    padding-left: 16px;
}

.catalog__burger--icon {
    margin-left: 11px;
}

.catalog__filter {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    font-weight: 400;
    flex: 2;
}

.catalog__dropdown:not(:last-child) {
    margin-right: 28px;
}

.catalog__dropdown--icon {
    margin-left: 10px;
}

.catalog__pagination {
    padding: 15px 15px 12px;
    border: 1px solid #EBEBEB;
    display: flex;
    align-items: center;
}


.catalog__pagination--nav {
    text-decoration: none;
}

.catalog__pagination--page {
    text-decoration: none;
    margin: 0 15px 0 0;
    text-align: center;
}

.catalog__pagination--page:nth-child(7) {

    margin: 0;
}

.catalog__pagination--page:nth-child(8) {

    margin: 0;
}

.catalog__pagination--nav:first-child {
    margin: 0 15px 0 0;
}


.catalog__pagination--page:link, .catalog__pagination--page:visited {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #d3d3d3;
}

.catalog__pagination--page:hover, .catalog__pagination--page:active {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #EF5B70;
}



