* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.wrapper {
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
    }

.content { flex-grow: 1;
}

.menu {
    background-color: #222222;
    padding: 19px 0;
}

.menu__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__logo {
    margin-right: 41px;
    text-decoration: none;
}

.menu__link:not(:last-child) {
    margin-right: 33px;
}

.intro {
    background-color: #F1E4E6;
    height: 764px;
    margin-bottom: 65px;
}

.intro__flex {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url('../img/man.png');
    background-repeat: no-repeat;
    background-position: -218px bottom;
}

.intro__heading {
    max-width: 400px;
    text-transform: uppercase;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    
    margin-right: 104px;
}

.intro__heading h1 {
    font-size: 32px;
}

.intro__bold {
    font-size: 48px;
}

.text__red {
    color: #F16D7F;
}

.category {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 96px;
}

.category__item {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: multiply;
    background-color: rgba(33, 22, 22, 0.7);
}

.category__item:not(:last-child) {
    width: 360px;
    height: 260px;
    margin-bottom: 30px;
}

.category__item:first-child {
    background-image: url('../img/cat_w.png');
}

.category__item:nth-child(2) {
    background-image: url('../img/cat_m.png');
}

.category__item:nth-child(3) {
    background-image: url('../img/cat_k.png');
}

.category__item:last-child {
    background-image: url('../img/cat_a.png');
}

.category__text {
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.category__white {
    font-size: 16px;
    font-weight: 400;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 95px;
}

.catalog__heading {
    text-align: center;
    margin-bottom: 6px;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    font-weight: 400;
}

.catalog__introtext {
    text-align: center;
    margin-bottom: 48px;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    font-weight: 400;
}

.catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 48px;
    width: 100%;
}

.catalog__card {
    width: 360px;
    height: 580px;
    box-sizing: border-box;
    background-color: #F8F8F8;
    position: relative;
  transition: 0.5s;
  overflow: hidden;
}

.catalog__card:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 420px;
    background-color: rgba(58, 56, 56, 0.83);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.card__button {
    width: 138px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    font-weight: 400;
    padding: 11px 16px 10px 13px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.catalog__card:hover .card__overlay {
    opacity: 1;
}
  
.catalog__card:nth-child(1) {
    margin-bottom: 30px;
}

.catalog__card:nth-child(7) {
    margin-top: 30px;
}

.catalog__card:nth-child(8) {
    margin-top: 30px;
}

.catalog__card:nth-child(9) {
    margin-top: 30px;
}

.catalog__cardinfo {
    display: flex;
    flex-direction: column;
    padding: 25px 18px 20px;
}

.catalog__product {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 12px;
}

.catalog__itemlink {
    text-decoration: none;
}


.catalog__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px;
}

.catalog__itemprice {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    font-weight: 400;
}

.catalog__link {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    border: 1px solid #FF6A6A;
    padding: 14px 28px;
}

a.catalog__link:visited, a.catalog__link:link {
    color: #F26376;
    background-color: #fff;
}

a.catalog__link:hover, a.catalog__link:active {
    color: #ffffff;
    background-color: #F26376;
}

.advantage {
    height: 341px;
    background-color: #222224;   
}

.advantage__flex {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advantage__card {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advantage__icon {
    margin-bottom: 28px;
}

.advantage__heading {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    font-weight: 400;
}

.advantage__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.lead {
    height: 448px;
    background-image: url('../img/footer_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.lead__transparent {
    width: 100%;
    height: 100%;
    background: rgba(244, 244, 244, 0.7);
}

.lead__info {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lead__review {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lead__customer {
    border-radius: 50%;
    margin-bottom: 30px;
}

.lead__cite {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #222224;
    font-weight: 400;
}

.italic {
    font-style: italic;
}


.lead__subscription {
    width: 557px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lead__cta {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: #222224;
    font-weight: 400;
    margin-bottom: 32px;
}

.lead__bold {
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
}

.lead__form {
    max-width: 356px;
    display: flex;
    font-size: 14px;
    line-height: 17px;
}

.lead__email {
    color: #222224;
    opacity: 0.67;
    padding: 14px 22px;
    width: 208px;
    border: none;
    background-color: #E1E1E1;
    border-radius: 50px 0 0 50px;
}

.lead__button {
    cursor: pointer;
    color: #ffffff;
    padding: 14px 19px;
    border: none;
    background-color: #F16D7F;
    border-radius: 0 50px 50px 0;
}

.footer {
    background-color: #222224;
    padding: 22px 0;
}

.footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    font-weight: 400;
}

.footer__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__sm {
    color: black;
    background-color: white;
    text-decoration: none;
    font-size: 16px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__sm:not(:last-child) {
margin-right: 7px;
}

.footer__sm:hover, .footer__sm:active {
    background-color: #F16D7F;
    color: white;
}

/* Catalog page */
.catmenu {
background-color: #F8F3F4;
height: 148px;
}

.catmenu__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.catmenu__active {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.catmenu__right {
    display: flex;
    width: 209px;
    justify-content: space-between;
}

.catmenu__category {
    text-transform: uppercase;
    text-decoration: none;
}

.catmenu__slash {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.catmenu__category:link, .catmenu__category:visited {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.catmenu__category:active, .catmenu__category:hover {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.catalog__filters {
    width: 100%;
    display: flex;
    padding: 39px 0 56px;
    align-items: center;
    justify-content: space-between;
}

.burger-filter {
    width: 360px;
    box-sizing: border-box;
    position: relative;
    outline: none;
    z-index: 1;
    background-color: #ffffff;
}

.burger-filter[open]  {
    padding-left: 10px;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.21);
}

.burger-filter[open]>summary {
    color: #EF5B70;
    fill: #EF5B70;
    outline: none;
    border: none;
    padding-left: 0;
}

.burger__open {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    fill: #000000;
    padding: 10px;
    list-style: none;
    border: none;
    text-transform: uppercase;
}

.filter-category {
    text-transform: uppercase;
}

.filter-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-transform: capitalize;
}

.burger__categories {
    position: absolute;
    width: 360px;
    left: 0;
    box-shadow: 0px 23px 25px rgba(0, 0, 0, 0.21);
    background-color: #ffffff;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
  }

  .filter-title {
    margin: 10px; 
  }

  ::-webkit-details-marker {display: none;}

  .filter-title  summary {
    display: block;
    border-left: 5px solid #EF5B70;
    border-bottom: 1px solid #EBEBEB;
    padding: 10px;
  }

.filter-title[open] > summary {
    color: #EF5B70;
}

.catalog__filter {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    font-weight: 400;
    flex: 2;
    padding-left: 30px;
}

.filter-list {
    padding: 24px 17px 14px;
    list-style-type: none;
}

.filter-item {
    padding-bottom: 11px;
    
}

.filter-item:last-child {
    padding-bottom: 0;
}

.catalog__dropdown {
    position: relative;
    z-index: 1;
}

.catalog__dropdown:not(:last-child) {
    margin-right: 28px;
}

.dropdown__choice {
    position: absolute;
    background-color: #fff;
    box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 10px 10px 0;
    min-width: 79px;
    box-sizing: border-box;
}

.dropdown__choice input {
    margin-bottom: 10px;
}

.dropdown__choice input:last-child {
    margin-bottom: 0;
}

.dropdown-summary {
    list-style: none;
}

.catalog__dropdown--icon {
    margin-left: 10px;
}

.pagination {
    padding: 15px 15px 12px;
    border: 1px solid #EBEBEB;
    display: flex;
    align-items: center;
}


.pagination__nav {
    text-decoration: none;
}

.pagination__page {
    text-decoration: none;
    margin: 0 15px 0 0;
    text-align: center;
}

.pagination__page:nth-child(7) {

    margin: 0;
}

.pagination__page:nth-child(8) {

    margin: 0;
}

.pagination__nav:first-child {
    margin: 0 15px 0 0;
}


.pagination__page:link, .pagination__page:visited {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #d3d3d3;
}

.pagination__page:hover, .pagination__page:active {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #EF5B70;
}

.catalog__list--small {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 33px;
    width: 100%;
}

.slider {
	background-color: #F7F7F7;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    height: 777px;
}	

	
.slider__button {
	background: rgba(42, 42, 42, 0.15);
	fill: #000000;
	padding: 13px 17px;
	position: absolute;
    border: none;
}

.slider__button:hover {
    fill: #F16D7F;
}
			
.slider__button--left {
	left: 1px;
}
			
.slider__button--right {
	right: 1px;
}

.about {
	width: 1140px;
	margin: -65px auto 129px;
	border: 1px solid #EAEAEA;
    padding: 65px 0;
    background-color: #fff;
	position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__content {
    width: 640px;
    text-align: center;
}

.about__filters {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    font-weight: 400;
}

.grey {
    border-top: 0 solid #eaeaea;
    margin: 65px auto;
}

.pinkline {
    width: 63px;
    margin: 12px auto;
    border: 3px solid #F16D7F;
}

.product__collection {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;  
    text-transform: uppercase;
}

.product__brand {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.product__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5E5E5E;
    margin-bottom: 32px;
}

.product__price {  
    font-weight: 300; 
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
}

.product__button {
    margin-top: 48px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    border: 1px solid #FF6A6A;
    padding: 14px 23px;
    background-color: transparent;
    color: #FF6A6A;
    fill: #FF6A6A;
}

.product__button--img {
    margin-right: 23px;
}

.carthead {
    background-color: #F8F3F4;
    height: 148px;
    }
    
.carthead__flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
    
.carthead__active {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}